@import "../../variables/stylingVars.scss";
.single-meal {
  background: $white;
  color: $textColor;
  border-radius: $borderRadius;
  box-shadow: $shadow-2;
  transition: $transition;

  &:hover {
    box-shadow: $shadow-4;
  }

  img {
    height: 15rem;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    cursor: pointer;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  h5 {
    padding: 0;
    margin: 0;
  }

  footer {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
