@import "../../variables/stylingVars.scss";
.remove-btn {
  margin-top: 0.25rem;
  background: transparent;
  color: $white;
  border: transparent;
  cursor: pointer;
  font-size: 0.5rem;
  transition: $transition;

  &:hover {
    color: $red-dark;
  }
}
